*{
  margin: 0rem;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#layout{
  display: flex;
  flex-direction: column;
}


.menu{
  background-color: black;
  width: 100%;
  height: 4rem;
  position: fixed;
}

.menu ul{
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 1rem;
}

.menu ul li{
  list-style-type: none;
  padding-right: 1rem;
}

.menuLink{
  text-decoration: none;
  color: white;
  font-size: large;
}

.menuLink:hover{
  text-decoration: none;
  transition: 250ms;
  color: gold;
  font-size: larger;
}


#content{
  background-color: lightyellow;
}

#home{
  padding-top: 7rem;
  min-height: 100vh;
}

#about{
  padding-top: 7rem;
  min-height: 100vh;
}

#projects{
  padding-top: 7rem;
  min-height: 100vh;
}

#contact{
  padding-top: 7rem;
  min-height: 100vh;
}
